{% extends "website/universal-base.html" %}
{% load staticfiles %}

{% block title %}Bovell Cancer-Diabetes Foundation{% endblock %}
{% block message_block %}
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
            <div class="alert alert-danger alert-dismissable" style="margin-top:0px;">
            {% elif 'success' in message.tags %}
            <div class="alert alert-success alert-dismissable" style="margin-top:0px;">
            {% elif 'warning' in message.tags %}
            <div class="alert alert-warning alert-dismissable" style="margin-top:0px;">
            {% else %}
            <div class="alert alert-dismissable" style="margin-top:0px;">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {% if 'error' in message.tags %}
                <strong>Error: </strong>
                {% elif 'success' in message.tags %}
                <strong>Success: </strong>
                {% elif 'warning' in message.tags %}
                <strong>Warning: </strong>
                {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block alert_block %}
    {% if alert_campaign %}
        {% for campaign in alert_campaign %}
            <div class="alert alert-info alert-dismissable" style="margin-top:0px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <a onClick="SetCookie('{{ campaign.slug }}','CLEARED','{{ campaign.snooze_short }}')">&times;</a>
                </button>
                <strong>{{ campaign.title }}</strong> {{ campaign.blurb }}
                <a class="alert-link"
                   href="{% if campaign.article_slug %}{% url campaign.article_namespace campaign.article_slug %}{% else %}{% url campaign.article_namespace %}{% endif %}">
                    {{campaign.click_text}}
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content_block %}
    <div class="white-tile">
        <div class="row">
    {% block content %}{% endblock %}
        </div>
    {% block facebook_block %}
        <div class="row">
            <div class="col-md-12">
                <div class="fb-like"
                     data-href="https://{{ request.get_host }}"
                     data-send="true"
                     data-width="350"
                     data-show-faces="false">
                </div>
            </div>
        </div>
    {% endblock %}
    </div>
{% endblock %}
  <!-- Bootstrap JavaScript -->
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
</html>