{% extends "website/base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block main_content_lg_size %}col-lg-9{% endblock %}
{% block comp_content_lg_size %}col-lg-3{% endblock %}

{% block header %}
<script src="{% static 'js/twitter.js' %}"></script>
{% endblock %}

{% block scroll_spy %}data-spy="scroll" data-target="#scrollspy" data-offset="90"{% endblock %}
{% block content %}
<div>
{% if article_list %}

    {% for article in article_list %}

        {% if article.thumb %}
                <div class="row">
                {% if article.thumb.position == article.thumb.LEFT %}
                    <div class="col-md-4 vcenter">
                {% else %}
                    <div class="col-md-push-8 col-md-4 vcenter">
                {% endif %}
                        <img src="{{article.thumb.image.url}}" alt="{{article.thumb.alt}}" align="center"/>
                        <p>
                            <b>{{article.thumb.title}}</b>
                            {% if article.thumb.description %}
                            <br><span>{{ article.thumb.description }}</span>
                            {% endif %}
                        </p>
                    </div><!--
                {% if article.thumb.position == article.thumb.LEFT %}
                 --><div class="col-md-8 vcenter">
                {% else %}
                 --><div class="col-md-pull-4 col-md-8 vcenter">
                {% endif %}
                        <h1 id="{{ article.slug }}">{{ article.title }}</h1>
                        {% block article_date %}
                        <h3 class="dateline">{{ article.pub_date|date:'l, F jS, Y' }}</h3>
                        {% endblock %}
                        <p class="intro">{{ article.articlecontent.short }}</p>
                        <p class="end-story-links">

                            <a href="{% url url_namespace article.slug %}">{{ read_on_message }}</a>

                        </p>
                    </div>
                </div>
        {% else %}

            <div class="row">
                <div class="col-md-12">
                    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
                    {% block article_date_3 %}
                    <h3 class="dateline">{{ article.pub_date|date:'l, F jS, Y' }}</h3>
                    {% endblock %}
                    <p class="intro">{{ article.articlecontent.short }}</p>
                    <p class="end-story-links">

                        <a href="{% url url_namespace article.slug %}">{{ read_on_message }}</a>

                    </p>
                </div>
            </div>

        {% endif %}

    {% endfor %}

    {% if article_list.has_other_pages %}
        <div class="row">
            <div class="text-center">
                <ul class="pagination pagination-lg">
                    {% if article_list.has_previous %}
                        <li><a href="?page={{ article_list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}
                    {% for page in article_list.paginator.page_range %}
                        {% if page|add:"0" >= article_list.number|add:"-2" and page|add:"0" <= article_list.number|add:"2" %}
                            {% if page == article_list.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if article_list.has_next %}
                        <li><a href="?page={{ article_list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}

{% else %}

    <div class="row">
        <div class="col-md-12">
            <p>No articles are available.</p>
        </div>
    </div>


{% endif %}
</div>
{% endblock %}
{% block complementary_content %}
        <div class="white-tile affix" id="tabNav" style="width:330px;">
            <div class="border-box">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#BCDF" role="tab" data-toggle="tab"><strong>BCDF</strong></a></li>
                    <li><a href="#twitter" role="tab" data-toggle="tab">
                        <img src="{% static 'images/twitter.jpg' %}">
                        <strong>Twitter</strong></a></li>
                    <li><a href="#facebook" role="tab" data-toggle="tab">
                        <img src="{% static 'images/facebook.jpg' %}">
                        <strong>Facebook</strong></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="tabNavInner">
                    <!-- Spy for list -->
                    <div class="tab-pane active" id="BCDF">
                        <div id="scrollspy">
                            <ul class="nav nav-pills" id="scrollNav">
                                {% for article in article_list %}
                                {% if forloop.first %}<li class="active" style="width:100%;"><a href="#{{ article.slug }}">{{ article.title }}</a></li>
                                {% else %}<li  style="width:100%;"><a href="#{{ article.slug }}">{{ article.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Twitter feed -->
                    <div class="tab-pane" id="twitter">
                        <a class="twitter-timeline"
                           href="https://twitter.com/Doc_Liselle/lists/science-health"
                           data-widget-id="516316295491375104">
                            Tweets from https://twitter.com/Doc_Liselle/lists/science-health
                        </a>
                    </div>

                    <!-- Facebook -->
                    <div class="tab-pane" id="facebook">
                        <div class="fb-like-box"
                             data-href="https://www.facebook.com/pages/Bovell-Cancer-Diabetes-Foundation/109253079221608"
                             data-width="310"
                             data-height="600"
                             data-colorscheme="light"
                             data-show-faces="false"
                             data-header="false"
                             data-stream="true"
                             data-show-border="false">
                         </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block post_scripts %}
<script>
    $('#scrollNav.nav li a').click(function(event) {
        event.preventDefault();
        $($(this).attr('href'))[0].scrollIntoView();
        scrollBy(0, -80);
    });
</script>
{% endblock %}
