asgiref==3.2.10
boto3==1.12.49
botocore==1.15.49
Django==3.0.10
django-recaptcha==2.0.6
django-storages==1.9.1
docutils==0.15.2
jmespath==0.10.0
Pillow==8.0.0
psycopg2==2.8.6
python-dateutil==2.8.1
python-memcached==1.59
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
