{% extends "website/base.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}

{% if article_list %}

    {% for article in article_list %}

        {% if article.thumb %}
                <div class="row">
                {% if article.thumb.position == article.thumb.LEFT %}
                    <div class="col-md-4 vcenter">
                {% else %}
                    <div class="col-md-push-8 col-md-4 vcenter">
                {% endif %}
                        <img src="{{article.thumb.image.url}}" alt="{{article.thumb.alt}}" align="center"/>
                        <p>
                            <b>{{article.thumb.title}}</b>
                            {% if article.thumb.description %}
                            <br><span>{{ article.thumb.description }}</span>
                            {% endif %}
                        </p>
                    </div><!--
                {% if article.thumb.position == article.thumb.LEFT %}
                 --><div class="col-md-8 vcenter">
                {% else %}
                 --><div class="col-md-pull-4 col-md-8 vcenter">
                {% endif %}
                        <h1>{{ article.title }}</h1>
                        {% block article_date %}
                        <h3 class="dateline">{{ article.pub_date|date:'l, F jS, Y' }}</h3>
                        {% endblock %}
                        <p class="intro">{{ article.articlecontent.short }}</p>
                        <p class="end-story-links">

                            <a href="{% url url_namespace article.slug %}">{{ read_on_message }}</a>

                        </p>
                    </div>
                </div>
        {% else %}

            <div class="row">
                <div class="col-md-12">
                    <h1>{{ article.title }}</h1>
                    {% block article_date_3 %}
                    <h3 class="dateline">{{ article.pub_date|date:'l, F jS, Y' }}</h3>
                    {% endblock %}
                    <p class="intro">{{ article.articlecontent.short }}</p>
                    <p class="end-story-links">

                        <a href="{% url url_namespace article.slug %}">{{ read_on_message }}</a>

                    </p>
                </div>
            </div>

        {% endif %}

    {% endfor %}

    {% if article_list.has_other_pages %}
        <div class="row">
            <div class="text-center">
                <ul class="pagination pagination-lg">
                    {% if article_list.has_previous %}
                        <li><a href="?page={{ article_list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}
                    {% for page in article_list.paginator.page_range %}
                        {% if page|add:"0" >= article_list.number|add:"-2" and page|add:"0" <= article_list.number|add:"2" %}
                            {% if page == article_list.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if article_list.has_next %}
                        <li><a href="?page={{ article_list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}

{% else %}

    <p>No articles are available.</p>

{% endif %}

{% endblock %}