{% extends "website/base-article.html" %}

{% block article_content_foot %}
        <!-- what-->
{% for image in article.specialimage_set.all %}
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
	            <h3 class="text-center">{{ image.title }}</h3>
                <p class="text-center">{{ image.description }}</p>
                <img src="{{ image.image.url }}" class="img-responsive" alt="{{ image.alt }}" style="display:block; margin-left:auto; margin-right:auto;">
	        </div>
        </div>
        <div class="row">
            <p><br><br></p>
        </div>
{% endfor %}
{% endblock %}