{% extends "website/base-article.html" %}

{% block title %}BCDF Newsletter{% endblock %}
{% block description %}Quarterly newsletter from the BCDF{% endblock %}
{% block keywords %}newsletter{% endblock %}

{% block content %}
{% if newsletter_list %}
{% for newsletter in newsletter_list %}

<div class="col-xs-6 col-md-2">
    <div class="newstile">
        <a style="display:block;" href="{{ newsletter.pdf.url }}">
            <img src="{{ newsletter.thumb.url }}" alt="Newsletter Image" >
        </a>
         <p>Diabetes Discourse<br>{{ newsletter.pub_date }}<br>Issue {{ newsletter.issue_number }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>No newsletters found</p>
{% endif %}
{% endblock %}